/* Navbar dark theme */
.navbar-dark {
    background-color: #000000; /* Warna hitam pekat */
}

/* Styling navbar links */
.navbar-dark .navbar-nav .nav-link {
    color: #868686;
    font-weight: 500;
    font-size: 16px; /* Ukuran font untuk link navbar */
    font-family: 'Poppins', sans-serif;
}

/* Hover dan active states untuk link navbar */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #FFD700; /* Warna kuning pada hover */
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FFD700; /* Warna kuning ketika aktif */
}

/* Flex container untuk navbar items */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center; /* Vertikal center untuk logo dan item navbar */
}

/* Ukuran font untuk paragraf */
p {
    font-size: 10px; /* Ukuran font lebih kecil untuk teks paragraf */
    font-family: 'Poppins', sans-serif;
}

/* Ukuran font untuk subjudul */
h2 {
    font-size: 28px; /* Ukuran font untuk subjudul */
}

/* Container dengan lebar maksimal */
.narrow-container {
    max-width: 600px; /* Lebar maksimal untuk container */
    margin: 0 auto;   /* Center alignment */
}

/* Container untuk gelombang */
.wave-container {
    width: 100%;
    height: 180px; /* Tinggi gelombang */
}

/* Styling SVG dalam gelombang */
.wave-container svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130%;
    display: block;
}

/* Styling untuk logo navbar */
.navbar-brand img {
    max-height: 50px; /* Sesuaikan dengan tinggi teks navbar */
    width: auto; /* Menjaga proporsi gambar */
}

/* Penyesuaian tambahan jika diperlukan untuk memperbaiki penempatan logo */
.navbar-brand {
    margin: 0 20px; /* Jarak di sekitar logo */
    display: flex;
    align-items: center;
}


.wave-footer {
    width: 100%;
    height: 200px;
    background-image: url(svg/wave-footer1.svg);
    background-repeat: repeat;
    background-size: contain;
}


.see-more-button {
    background-image: url("button.svg"); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 105px;
    /* Ubah widthnya untuk menyesuaikan ukuran aslinya */
    height: 30px;
    font-weight: bold;
    cursor: pointer; 
}

.see-more-button-1 {
    background-image: url("button-1.svg"); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 105px;
    /* Ubah widthnya untuk menyesuaikan ukuran aslinya */
    height: 30px;
    font-weight: bold;
    cursor: pointer; 
}

.submit-button {
    background-image: url("submit-button.svg"); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 105px;
    /* Ubah widthnya untuk menyesuaikan ukuran aslinya */
    height: 81px;
    font-weight: bold;
    cursor: pointer;  
}

.wave-footer {
    width: 100%;
    height: 200px;
    background-image: url(wave1.svg);
    background-repeat: repeat;
    background-size: contain;
}


/* CODE DIBAWAH UNTUK SLIDER */

.range_container {
    display: flex;
    width: 600px;
}

.range__slider {
    width: 45%;
}

.range__value {
    width: 35%;
    margin-left: 45px;    
    text-align: center;
    border-left: #e6e4e4 1px solid;
}

.form-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.form-group label {
    text-transform: uppercase;
    font-size: .7rem;
    color: #222;
    margin-bottom: 5px;
}

.form-group span {
    font-size: 2rem;
    font-weight: 600;
    color: #3c3b3b;
}

.range__slider label {
    margin-bottom: 10px;
}

.range__slider [type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 18px;
    border-radius: 10px;
    background: #EDEDED;
    border: #EDEDED 5px solid;
    outline: none;
    padding: 0;
    margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url('svg/slider.svg'); 
    background-size: contain;
/*  edit color  */
    /* border: #fff 5px solid; */
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

/* .range__slider [type="range"]::-webkit-slider-thumb:hover {
    background: #FF0000;
} */

.range__slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid; cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}